* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdfdfd;
    color: #284b63;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

main {
    box-shadow: 0 0 2.5rem rgba(53, 53, 53, 0.3);
    display: flex;
    margin: 0 auto;
    max-width: 1080px;
    min-height: 100vh;
    width: 100%;
}

aside {
    background: #9be0a6;
    padding: 50px 10px 16px;
    width: 280px;
}

.aside-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 16px;
    width: 100%;
}

.aside-bar h1{
    font-weight: 700;
    margin-top: 8px;
}
.aside-bar h1 span {
    font-weight: 400;
}

.aside-bar h4 {
    background: #284b63;
    border-radius: 12px;
    color: #ffff;
    font-size: 13px;
    font-weight: 400;
    padding: 10px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.profile-picture {
    background-image: url(../images/foto-port.jpg);
    background-size: cover;
    border: 4px solid #284b63;
    border-radius: 20px;
    width: 180px;
    height: 180px;
}

.link-social {
    display: flex;
    justify-content: space-around;
    width: 160px;
    font-size: 26px;
    margin: 26px 0;
}

.link-social a {
    color: #284b63;
}
.link-social a:hover {
    color: #284b63d8;
}

.contact-personal {
    list-style-type: none;
}
.contact-personal li{
    font-weight: 600;
    line-height: 1.5;
}
.contact-personal li a {
    color: inherit;
    text-align: center;
    text-decoration: none;
}
.contact-personal li i {
    font-size: 20px;
    text-align: center;
    margin-right: 4px;
}

.whatsapp-button {
    display: flex;
    align-items: center;
    background: #284b63;
    border-radius: 12px;
    color: #ffff;
    margin: 26px 0;
    padding: 12px 20px;
    text-decoration: none;
    
  }

  .whatsapp-button i {
      font-size: 40px;
      margin-right:8px;
      color: #15eb32;
  }

  section {
      background: #fdfdfd;
      width: calc(100% -280px);
      margin: 50px 30px 0;
  }

  article:not(:last-of-type) {
      margin-bottom: 50px;
  }

  .article-wrapper{
      align-items: center;
      border-bottom: 4px solid;
      color: #284b63;
      display: inline-flex;
      margin-bottom: 12px;
      padding: 0 2px;
}

  .article-wrapper i {
      font-size: 36px;
      margin: -2px 8px 0 0;
  }

  .article-title {
      border-top: 4px solid #284b63;
      font-size: 32px;
      font-weight: 800;
      margin: 0 0 2px;
      padding-top: 2px;
  }

  .article-text {
    margin-bottom: 30px;
  }

  .timeline {
      list-style: none;
      margin: 10px 0;
  }

  .timeline li {
      padding: 2px 0 40px 20px;
      position: relative;
  }

  .timeline li::after {
      background-color: #46b842;
      border-radius: 50%;
      border: 4px solid #284b6371;
      box-sizing: border-box;
      content: '';
      display: inline-block;
      height: 10px;
      left: 0;
      position: absolute;
      top: 5px;
      width: 10px;
  }

  .timeline li:not(:last-of-type)::before {
      background-color: #10f856;
      content: '';
      height: 100%;
      left: 3px;
      position: absolute;
      top: calc(0.5em - 2px);
      width: 4px;
  }

  .timeline h4 {
      font-size: 20px;
      margin: -2px 0 0;
  }
  
  .timeline h5 {
      font-weight: 400;
      margin: 0;
  }
  
  .timeline h6 {
      font-size: 18px;
      font-weight: 600;
      margin: 12px 0 4px;
  }
  
  .timeline p {
      font-size: 16px;
      font-weight: 400;
  }

  .skills-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px 0;
  }

  .progress {
      background-color:  #10f8564f;
      border-radius: 20px;
      display: flex;
      font-size: 0.75rem;
      height: 1.5rem;
      margin-bottom: 12px;
      width: calc(50% - 6px);
  }

  .progress-bar {
      align-items: center;
      border-radius: 20px;
      color: #fff;
      display: flex;
      padding: 0 10px;
  }

  .progress-background-js{
      background-color: #F1C40F;
  }
  .progress-background-react{
      background-color: #0697f8;
  }
  .progress-background-bootstrap{
      background-color: #8f44af;
  }
  .progress-background-html{
      background-color: #E67E22;
  }
  .progress-background-git{
      background:linear-gradient(0, #613375 50%, #f35c16 50%);
  }
  .progress-background-css{
      background-color: #307bad;
  }

  .progress-text {
      display: flex;
      justify-content: space-between;
      width: 100%;
  }

  .soft-skills {
      display: flex;
      justify-content: space-between;
      padding: 0 8px;
  }
  
  .soft-skill {
      background-color: #9be0a6;
      border-radius: 8px;
      padding: 8px;
      text-align: center;
      width: calc(25% - 8px);
  }

  .soft-skill-rating {
      --percent: calc(var(--rating) / 5 * 100%);
      display: inline-block;
      font-family: Times;
      font-size: 30px;
      line-height: 1;
  }
  
  .soft-skill-rating::before {
      background-clip: text;
      background: linear-gradient(90deg, rgb(255, 187, 0) var(--percent), rgba(166, 167, 163, 0.639) var(--percent));
      content: '★★★★★';
      letter-spacing: 3px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  
  .soft-skill-label {
      margin: 4px 0 0;
  }

  .portfolio {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .portfolio-text {
      margin-bottom: 20px;
      font-weight: 800;
      font-size: 18px;
  }
  
  .portfolio-item {
      margin-bottom: 24px;
      text-decoration: none;
      width: calc(50% - 12px);
  }
  
  .portfolio-item figure {
      border: 4px solid #284b63;
      border-radius: 8px;
  }
  
  .portfolio-item figcaption {
      color: #3c6e71;
      font-weight: 800;
      text-align: center;
  }